
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <!-- Hero and nav -->
    <div class="hero is-cover is-relative is-fullheight is-default is-bold">

        <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                     
                    <a class="navbar-item" href="/">
                        <img class="light-logo" src="static/img/logos/m2square-white.svg" alt="" style="max-height:3.75rem" >
                        <img class="dark-logo" src="static/img/logos/m2square-black.svg" alt="" style="max-height:3.75rem" >
                    
                    
                    
                    </a>

                    <!-- Sidebar Trigger 
                    <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                        <span class="menu-toggle">
                                <span class="icon-box-toggle"> 	
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i> 
                                    </span>
                        </span>
                        </span>
                    </a> -->

                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="nav-menu">
                        <a class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                            </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <!-- Navbar menu -->
                <div id="nav-menu" class="navbar-menu">
                    <!-- Navbar Start -->
                    <div class="navbar-start">
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="apparel.html">
                            Apparel
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="food.html">
                            Food
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="services.html">
                            Services
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="aboutus.html">
                            About Us
                        </a>
                        
                    </div>

                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <!-- Signup button -->
                        <div class="navbar-item">
                            <a id="#signup-btn" href="startup-signup.html" class="button button-signup btn-outlined is-bold primary-btn light-btn rounded raised">
                                Sign up
                            </a>
                        </div>
                        <div class="navbar-item ">
                            <a id="#signup-btn" href="login.html" class="button button-signup btn-outlined is-bold btn-align success-btn rounded raised">
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Hero Wallop Slider -->
        <div class="Wallop Wallop--fade">
            <div class="Wallop-list">
                <!-- Slide -->
                <div class="Wallop-item Wallop-item--current has-background-image" data-background="static/images/landingpage-1.jpg" data-demo-background="static/img/startup/meetup.jpg">
                    <div class="Wallop-overlay"></div>
                    <div class="Wallop-caption-wrapper">
                        <div class="container">
                            <div class="columns is-gapless is-vcentered">
                                <div class="column is-5">
                                    <div class="caption-inner">
                                        <h1 class="is-hidden-touch">Welcome</h1>
                                        <h1 class="is-hidden-desktop">W e l c o m e</h1>
                                        <div class="caption-divider"></div>
                                        <div class="caption-text">
                                            <span>To the launch of the brand that will make the future of startups a big success.</span>
                                            <div class="action">
                                                <a href="#services" class="button button-cta primary-btn rounded">Get started now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide -->
                <div class="Wallop-item has-background-image" data-background="static/images/landingpage-2.jpg" data-demo-background="static/img/startup/meetup2.jpg">
                    <div class="Wallop-overlay"></div>
                    <div class="Wallop-caption-wrapper">
                        <div class="container">
                            <div class="columns is-gapless is-vcentered">
                                <div class="column is-5">
                                    <div class="caption-inner">
                                        <h1>Make solid decisions</h1>
                                        <div class="caption-divider"></div>
                                        <div class="caption-text">
                                            <span>Managing data flows inside a company is almost as managing blood streams. We give you tool to delegate data processing. You only, get the result and focus on your work.</span>
                                            <div class="action">
                                                <a href="#services" class="button button-cta primary-btn rounded">Get started now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide -->
                <div class="Wallop-item has-background-image" data-background="static/images/landingpage-3.jpg" data-demo-background="static/img/startup/meetup3.jpg">
                    <div class="Wallop-overlay"></div>
                    <div class="Wallop-caption-wrapper">
                        <div class="container">
                            <div class="columns is-gapless is-vcentered">
                                <div class="column is-5">
                                    <div class="caption-inner">
                                        <h1>Scale when needed</h1>
                                        <div class="caption-divider"></div>
                                        <div class="caption-text">
                                            <span>You can start at a low scale to manage your daily operations and activity. However, our solution is designed to be fully scalable. It scales seamlessly as your business grows.</span>
                                            <div class="action">
                                                <a href="#services" class="button button-cta primary-btn rounded">Get started now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination dots -->
            <div class="Wallop-pagination">
                <button class="Wallop-dot Wallop-dot--current">go to item 1</button>
                <button class="Wallop-dot">go to item 2</button>
                <button class="Wallop-dot">go to item 3</button>
            </div>
        </div>
    </div>

    <!-- Clients 
    <div class="hero-foot is-pulled">
        <div class="container">
            <div class="tabs partner-tabs is-centered">
                <ul>
                    <li><a><img class="partner-logo" src="static/img/logos/custom/covenant.svg" alt=""></a></li>
                    <li><a><img class="partner-logo" src="static/img/logos/custom//infinite.svg" alt=""></a></li>
                    <li><a><img class="partner-logo" src="static/img/logos/custom/phasekit.svg" alt=""></a></li>
                    <li><a><img class="partner-logo" src="static/img/logos/custom/grubspot.svg" alt=""></a></li>
                    <li><a><img class="partner-logo" src="static/img/logos/custom/gutwork.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div> 
    -->

    
    <!-- Services -->
    <div id="services" class="section is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper">
                <div class="bg-number">1</div>
                <h2 class="title section-title has-text-centered dark-text"> Lorem ipsum</h2>
                <div class="subtitle has-text-centered is-tablet-padded">
                    Lorem ipsum dolor sit amet consectetur
                </div>
            </div>

            <div class="content-wrapper">
                <div class="columns is-vcentered is-multiline has-text-centered">
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="startup-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-Bar-Chart"></i>
                            </div>
                            <div class="box-title">Lorem ipsum</div>
                            <p class="box-content is-tablet-padded">Lorem ipsum dolor sit amet, eam ex probo tation tractatos. Ut vel hinc solet tincidunt, nec et iisque placerat pertinax.</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="startup-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-Sidebar-Window"></i>
                            </div>
                            <div class="box-title">Dolor sit amet r</div>
                            <p class="box-content is-tablet-padded">Lorem ipsum dolor sit amet, eam ex probo tation tractatos. Ut vel hinc solet tincidunt, nec et iisque placerat pertinax.</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="startup-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-File-Chart"></i>
                            </div>
                            <div class="box-title">Amet consectetur</div>
                            <p class="box-content is-tablet-padded">Lorem ipsum dolor sit amet, eam ex probo tation tractatos. Ut vel hinc solet tincidunt, nec et iisque placerat pertinax.</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="startup-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-Bank"></i>
                            </div>
                            <div class="box-title">Finance Analytics</div>
                            <p class="box-content is-tablet-padded">Lorem ipsum dolor sit amet, eam ex probo tation tractatos. Ut vel hinc solet tincidunt, nec et iisque placerat pertinax.</p>
                        </div>
                    </div>
                </div>
                <div class="has-text-centered is-title-reveal pt-20 pb-20">
                    <a href="#" class="button button-cta primary-btn rounded raised">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->
    <!-- Feature Startups -->
    <section class="section section-feature-grey is-medium">
        <div class="container py-4">
          <!-- Title -->
            <div class="section-title-wrapper">
                <div class="bg-number">2</div>
                <h2 class="title section-title has-text-centered dark-text"> Feature Startups</h2>
                <div class="subtitle has-text-centered is-tablet-padded">
                    We are a business accelerating company.
                </div>
            </div>
          <div class="columns">
            <div class="column is-4">
              <div class="card">
                <div class="card-image"><figure class="image is-4by3"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></figure></div>
                <div class="card-content">
                  <h4 class="title is-spaced is-4">Startup A</h4>
                  <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="card">
                <div class="card-image"><figure class="image is-4by3"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></figure></div>
                <div class="card-content">
                  <h4 class="title is-spaced is-4">Startup B</h4>
                  <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
      
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="card">
                <div class="card-image"><figure class="image is-4by3"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></figure></div>
                <div class="card-content">
                  <h4 class="title is-spaced is-4">Startup C</h4>
                  <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 <!--Feature Startups -->

    
<!-- Top Products -->
     <section class="section"><div class="container py-4">
          <div class="columns">
            <div class="column is-4">
              <!-- Title -->
            <div class="section-title-wrapper">
                <div class="bg-number">3</div>
                <h2 class="title section-title has-text-centered dark-text">Top Products</h2>
                <div class="subtitle has-text-centered is-tablet-padded">
                    Create your own data widgets to build your own and specific dashboard. Make it fit your needs perfectly.
                </div>
            </div>
              <p class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
              <div class="buttons"><a class="button is-primary" href="#">Join us!</a></div>
            </div>
            <div class="column is-8 has-text-centered">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="card">
                    <div class="card-content">
                   <p class="center"> <img src="static/images/product64.png" alt="" > </p>
                    <p class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                      <h5 class="title is-5">Russ Hanneman</h5>
                      <p class="subtitle">Investor, Angel, Great Guy</p>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="card">
                    <div class="card-content">
                    <p class="center"><img src="static/images/delivery-truck64.png" alt=""> </p>
                    <p class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                      <h5 class="title is-5">Kurt P. Benton</h5>
                      <p class="subtitle">Developer</p>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="card">
                    <div class="card-content">
                    <p class="center"><img src="static/images/analytics64.png" alt=""> </p>
                    <p class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                      <h5 class="title is-5">Fiona</h5>
                      <p class="subtitle">Artificial Intelligence</p>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="card">
                    <div class="card-content">
                    <p class="center"><img src="static/images/rocket64.png" alt=""> </p>
                    <p class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi suscipit nisi obcaecati quia pariatur enim.</p>
                      <h5 class="title is-5">Colin</h5>
                      <p class="subtitle">CEO at K-Hole</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Top Products -->
<!-- Team section -->
    <section class="section section-light-grey is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper">
                <div class="bg-number">4</div>
                <h2 class="title section-title has-text-centered dark-text"> Our team rocks</h2>
                <div class="subtitle has-text-centered is-tablet-padded">
                    Consequat ea ad enim magna labore ullamco ullamco occaecat nisi..
                </div>
            </div>

            <div class="content-wrapper">
                <div class="columns">
                    <!-- Image -->
                    <div class="column is-7">
                        <img class="is-block" src="https://via.placeholder.com/750x500" alt="" data-demo-src="assets/img/startup/team.png">
                    </div>
                    <!-- Content -->
                    <div class="column is-4 is-offset-1 pt-80 pb-80 mobile-padding-20">
                        <div class="icon-subtitle"><i class="im im-icon-Reload-3"></i></div>
                        <h2 class="title section-subtitle dark-text text-bold s-2">
                            We back you up
                        </h2>
                        <span class="section-feature-description">Qui fugiat consectetur sunt officia duis culpa sint dolore aliqua aliquip qui. Nostrud quis proident consectetur pariatur in enim in ullamco eu culpa eiusmod adipisicing. Lorem in adipisicing excepteur fugiat commodo. Ullamco consectetur nostrud irure Lorem id. Sint aute tempor nulla laboris labore amet duis. Officia enim excepteur laboris sunt sit. Adipisicing aute nostrud sit Lorem cillum pariatur eiusmod elit proident qui. </span>
                        <div class="pt-10 pb-10">
                            <a href="#" class="button btn-align btn-more is-link color-primary is-title-reveal">
                                Learn more about us <i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Team section -->
    

    

    
